# ignore all files in directory .idea
.idea/
# ignore all files in this project which name is all.txt
all.txt
cache/

# don't ignore file belong this project which name is .gitkeep , .gitkeep file general used to commit one empty dir to git repository
!.gitkeep*
!.gitignore
#sujianhui.md
/documents/sjh.md
/documents/hr_interview.md
documents/distributed/.DS_Store
