# ignore all files in directory .idea
.idea/

# ignore all files in this project which name is all.txt
all.txt

# don't ignore file belong this project which name is .gitkeep , .gitkeep file general used to commit one empty dir to git repository
!.gitkeep*
!.gitignore
#sujianhui.md
